@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color:white;
    font-family: 'Syne', sans-serif;
}

.list-decimal{
  list-style-type: decimal;
}

body, html {
  margin: 0;
  padding: 0;
}

.container {
  height: 1000px; /* Adjust height based on your content */
}

video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

